#id1 {
    background-color: rgb(127, 255, 212); 
    width: 100px; 
    height: 100px;
}

#id2 {
    background-color: rgb(177, 85, 253); 
    width: 100px; 
    height: 100px;
}

#id3 {
    background-color: rgb(255, 214, 252); 
    width: 100px; 
    height: 100px;
}